snippet FCE "function component export (with prop interface)" A
export interface $1Props {
	$3
}

const ${1:`!v expand('%:t:r')`} = (${2:props}: $1Props) => {
	return <>${4:null}</>
}

export default $1;
endsnippet

