extends tsx

# General
snippet CL "console.log" A
console.log($1);
endsnippet

snippet IP "Import module" A
import { $2 } from "$1"
endsnippet

snippet DIP "Default import" A
import $2 from "$1"
endsnippet


snippet ARR "Constant arrow function" A
const $1 = ($2) => {$3}
endsnippet

snippet TEST "Test block" A
describe("$1", () => {
  it("should $2", () => {
  });
});
endsnippet
