snippet SSP "function component export (with prop interface)" A
export interface $1Props {
	$3
}

const ${1:`!v expand('%:t:r')`} = (${2:props}: $1Props): React.ReactElement => {
	return <>${4:null}</>
}

export default $1;
endsnippet



snippet SSC "create react function" 
export interface $1Props {
	$3
}

export const ${1:`!v expand('%:t:r')`} = (${2:props}: $1Props): React.ReactElement => {
	return <>${4:null}</>
}

endsnippet
